<form [formGroup]="form">
  <div>
    <!-- brand -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm"
                           (click)="clipboardService.extCopy(car.brand,'Марка скопирована')"
        >
          Марка
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <p-dropdown #carBrandDropdown
                      formControlName="carBrand"
                      styleClass="w-full"
                      panelStyleClass="w-full"
                      optionLabel="brand"
                      optionValue="brand"
                      placeholder="Марка"
                      filterBy="brand"
                      filterMatchMode="contains"
                      filterPlaceholder="Поиск"
                      appendTo="body"
                      emptyMessage="Марок не найдено. Введите вручную"
                      [editable]="true"
                      [loading]="loadingReference.value.getValue()"
                      [filter]="true"
                      [showClear]="true"
                      [options]="cars"
                      (onChange)="onChange(carBrandDropdown)"
          ></p-dropdown>
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carBrand')?.invalid && form.get('carBrand')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carBrand')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="form.get('carBrand')?.errors?.['notText']">
            Значение должно состоять только из букв
          </small>
        </div>
      </div>
    </div>

    <!-- model -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm"
                           (click)="clipboardService.extCopy(car.model,'Модель скопирована')"
        >
          Модель
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <p-dropdown #carModelDropdown
                      formControlName="carModel"
                      styleClass="w-full"
                      panelStyleClass="w-full"
                      optionLabel="model"
                      optionValue="model"
                      placeholder="Модель"
                      filterBy="model"
                      filterMatchMode="contains"
                      filterPlaceholder="Поиск"
                      appendTo="body"
                      emptyMessage="Моделей не найдено. Введите вручную"
                      [editable]="true"
                      [loading]="loadingReference.value.getValue()"
                      [filter]="true"
                      [showClear]="true"
                      [options]="cars"
                      (onChange)="onChange(carModelDropdown)"
          ></p-dropdown>
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carModel')?.invalid && form.get('carModel')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carModel')?.errors?.['required']">
            Поле не может быть пустым
          </small>
        </div>
      </div>
    </div>

    <!-- production year -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm"
                           (click)="clipboardService.extCopy(car.productionYear,'Год выпуска скопирован')"
        >
          Год выпуска
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <input formControlName="carProductionYear"
                 pInputText
                 class="pl-2 p-1 w-full"
                 type="text"
                 placeholder="Год выпуска"
          />
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carProductionYear')?.invalid && form.get('carProductionYear')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carProductionYear')?.errors?.['carProductionYear']">
            Поле не может быть пустым
          </small>
          <small *ngIf="form.get('carProductionYear')?.errors?.['notNumber']">
            Значение должно быть числом
          </small>
          <small *ngIf="form.get('carProductionYear')?.errors?.['min']">
            Введеное значение меньше минимально допустимого значения {{ form.get('carProductionYear')?.errors?.['min']?.['min'] }}
          </small>
          <small *ngIf="form.get('carProductionYear')?.errors?.['max']">
            Введеное значение больше максимально допустимого значения {{ form.get('carProductionYear')?.errors?.['max']?.['max'] }}
          </small>
          <small *ngIf="form.get('carProductionYear')?.errors?.['notInteger']">
            Значение должно быть целым числом
          </small>
        </div>
      </div>
    </div>

    <!-- price -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm"
                           (click)="clipboardService.extCopy(car.price,'Цена скопирована')"
        >
          Цена (₽)
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <input formControlName="carPrice"
                 pInputText
                 class="pl-2 p-1 w-full"
                 type="text"
                 placeholder="Цена в рублях"
          />
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carPrice')?.invalid && form.get('carPrice')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carPrice')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="form.get('carPrice')?.errors?.['notNumber']">
            Значение должно быть числом
          </small>
          <small *ngIf="form.get('carPrice')?.errors?.['min']">
            Введеное значение меньше минимально допустимого значения {{ form.get('carPrice')?.errors?.['min']?.['min'] }}
          </small>
        </div>
      </div>
    </div>

    <!-- mileage -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm"
                           (click)="clipboardService.extCopy(car.mileage,'Пробег скопирован')"
        >
          Пробег (км)
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <input formControlName="carMileage"
                 pInputText
                 class="pl-2 p-1 w-full"
                 type="text"
                 placeholder="Пробег в км"
          />
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carMileage')?.invalid && form.get('carMileage')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carMileage')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="form.get('carMileage')?.errors?.['notNumber']">
            Значение должно быть числом
          </small>
          <small *ngIf="form.get('carMileage')?.errors?.['min']">
            Введеное значение меньше минимально допустимого значения {{ form.get('carMileage')?.errors?.['min']?.['min'] }}
          </small>
        </div>
      </div>
    </div>

    <!-- VIN -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm"
                           (click)="clipboardService.extCopy(car.VIN,'ВИН скопирован')"
        >
          ВИН {{ form.get('carVIN')?.invalid && !!form.value['carVIN'] ? ('(' + form.value['carVIN'].length + '/17)') : '' }}
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <input formControlName="carVIN"
                 pInputText
                 class="pl-2 p-1 w-full"
                 type="text"
                 placeholder="ВИН код"
          />
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carVIN')?.invalid && form.get('carVIN')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carVIN')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="form.get('carVIN')?.errors?.['minlength']">
            Длина вин-кода должна быть длиной в {{ form.get('carVIN')?.errors?.['minlength']?.['requiredLength'] }} символов
          </small>
          <small *ngIf="form.get('carVIN')?.errors?.['maxlength']">
            Длина вин-кода должна быть длиной в {{ form.get('carVIN')?.errors?.['maxlength']?.['requiredLength'] }} символов
          </small>
        </div>
      </div>
    </div>

    <!-- owners amount -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm"
                           (click)="clipboardService.extCopy(car.ownersAmount,'Количество владельцев скопировано')"
        >
          Количество владельцев
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <input formControlName="carOwnersAmount"
                 pInputText
                 class="pl-2 p-1 w-full"
                 type="text"
                 placeholder="Кол-во владельцев"
          />
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carOwnersAmount')?.invalid && form.get('carOwnersAmount')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carOwnersAmount')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="form.get('carOwnersAmount')?.errors?.['notNumber']">
            Значение должно быть числом
          </small>
          <small *ngIf="form.get('carOwnersAmount')?.errors?.['min']">
            Введеное значение меньше минимально допустимого значения {{ form.get('carPrice')?.errors?.['min']?.['min'] }}
          </small>
        </div>
      </div>
    </div>

    <!-- power -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm"
                           (click)="clipboardService.extCopy(car.power,'Количество лошадиных сил скопировано')"
        >
          Кол-во Л.С.
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <input formControlName="carPower"
                 pInputText
                 class="pl-2 p-1 w-full"
                 type="text"
                 placeholder="Кол-во Л.С."
          />
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carPower')?.invalid && form.get('carPower')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carPower')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="form.get('carPower')?.errors?.['notNumber']">
            Значение должно быть числом
          </small>
          <small *ngIf="form.get('carPower')?.errors?.['min']">
            Введеное значение меньше минимально допустимого значения {{ form.get('carPrice')?.errors?.['min']?.['min'] }}
          </small>
        </div>
      </div>
    </div>

    <!-- documents color -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm">
          Цвет по документам
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <p-dropdown #carDocumentsColorDropdown
                      formControlName="carDocumentsColor"
                      styleClass="w-full"
                      panelStyleClass="w-full"
                      optionLabel="documentsColor"
                      optionValue="documentsColor"
                      placeholder="Цвет по документам"
                      filterBy="documentsColor"
                      filterMatchMode="contains"
                      filterPlaceholder="Поиск"
                      appendTo="body"
                      emptyMessage="Цвета не найдены. Введите вручную"
                      [editable]="true"
                      [loading]="loadingReference.value.getValue()"
                      [filter]="true"
                      [showClear]="true"
                      [options]="cars"
                      (onChange)="onChange(carDocumentsColorDropdown)"
          ></p-dropdown>
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carDocumentsColor')?.invalid && form.get('carDocumentsColor')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carDocumentsColor')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="form.get('carDocumentsColor')?.errors?.['notText']">
            Значение должно состоять только из букв
          </small>
        </div>
      </div>
    </div>

    <!-- gearbox -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm">
          Коробка передач
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <p-dropdown formControlName="carGearbox"
                      styleClass="w-full text-sm"
                      panelStyleClass="w-full"
                      optionLabel="label"
                      optionValue="value"
                      placeholder="Коробка передач"
                      appendTo="body"
                      [loading]="loadingReference.value.getValue()"
                      [options]="carGearboxes"
          ></p-dropdown>
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carGearbox')?.invalid && form.get('carGearbox')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carGearbox')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="form.get('carGearbox')?.errors?.['notText']">
            Значение должно состоять только из букв
          </small>
        </div>
      </div>
    </div>

    <!-- state -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm">
          Состояние
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <p-dropdown formControlName="carState"
                      styleClass="w-full text-sm"
                      panelStyleClass="w-full"
                      optionLabel="label"
                      optionValue="value"
                      placeholder="Состояние"
                      appendTo="body"
                      [loading]="loadingReference.value.getValue()"
                      [options]="carStates"
          ></p-dropdown>
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carState')?.invalid && form.get('carState')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carState')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="form.get('carState')?.errors?.['notText']">
            Значение должно состоять только из букв
          </small>
        </div>
      </div>
    </div>

    <!-- engine oil type -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm">
          Тип двигателя
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <p-dropdown formControlName="carEngineOilType"
                      styleClass="w-full text-sm"
                      panelStyleClass="w-full"
                      optionLabel="label"
                      optionValue="value"
                      placeholder="Состояние"
                      appendTo="body"
                      [loading]="loadingReference.value.getValue()"
                      [options]="carEngineOilTypes"
          ></p-dropdown>
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carEngineOilType')?.invalid && form.get('carEngineOilType')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carEngineOilType')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="form.get('carEngineOilType')?.errors?.['notText']">
            Значение должно состоять только из букв
          </small>
        </div>
      </div>
    </div>

    <!-- transmission -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm">
          Привод
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <p-dropdown formControlName="carTransmission"
                      styleClass="w-full text-sm"
                      panelStyleClass="w-full"
                      optionLabel="label"
                      optionValue="value"
                      placeholder="Привод"
                      appendTo="body"
                      [loading]="loadingReference.value.getValue()"
                      [options]="carTransmissions"
          ></p-dropdown>
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carTransmission')?.invalid && form.get('carTransmission')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carTransmission')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="form.get('carTransmission')?.errors?.['notText']">
            Значение должно состоять только из букв
          </small>
        </div>
      </div>
    </div>

    <!-- steering wheel -->
    <div>
      <p-inputGroup>
        <p-inputGroupAddon styleClass="w-6rem text-sm">
          Руль
        </p-inputGroupAddon>
        <p-inputGroupAddon styleClass="w-12rem text-sm">
          <p-dropdown formControlName="carSteeringWheel"
                      styleClass="w-full text-sm"
                      panelStyleClass="w-full"
                      optionLabel="label"
                      optionValue="value"
                      placeholder="Руль"
                      appendTo="body"
                      [loading]="loadingReference.value.getValue()"
                      [options]="carSteeringWheels"
          ></p-dropdown>
        </p-inputGroupAddon>
      </p-inputGroup>

      <div *ngIf="form.get('carSteeringWheel')?.invalid && form.get('carSteeringWheel')?.touched"
           class="p-error flex flex-wrap align-items-center justify-content-center m-2"
      >
        <div class="text-center">
          <small *ngIf="form.get('carSteeringWheel')?.errors?.['required']">
            Поле не может быть пустым
          </small>
          <small *ngIf="form.get('carSteeringWheel')?.errors?.['notText']">
            Значение должно состоять только из букв
          </small>
        </div>
      </div>
    </div>

    <div class="m-2">
      <div class="flex flex-wrap align-items-center justify-content-center gap-2">
        <p-button styleClass='text-center p-2'
                  icon="pi pi-pen-to-square"
                  severity="secondary"
                  appLongClick
                  [disabled]="form.invalid"
                  (click)="onSubmit(false)"
                  (longClick)="messageService.showInfo('Эта кнопка сохраняет твой машину, но не закрывает форму добавления (можно добавлять машины дальше)')"
        />

        <p-button styleClass='text-center p-2'
                  icon="pi pi-save"
                  severity="secondary"
                  appLongClick
                  [disabled]="form.invalid"
                  (click)="onSubmit(true)"
                  (longClick)="messageService.showInfo('Эта кнопка сохраняет твой машину и закрывает форму добавления')"
        />
      </div>
    </div>
  </div>
</form>
