<div>Hello from Mater Web Application!</div>

<div>{{ field }}</div>
<div>{{ event }}</div>

<button (click)="test('click')">Or click</button>

<button (touchstart)="test('touch')">Or touch</button>

<button (mousedown)="test('mousedown')">Or mousedown</button>

<button (dblclick)="test('double click')">Or dbl click</button>
<button (pointerdown)="test('pointerdown')">Pointer Down</button>
<button (pointerup)="test('pointerup')">Pointer Up</button>
<button (touchend)="test('touchend')">Touch End</button>
<button (contextmenu)="test('contextmenu')">Context Menu</button>

