<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
<p-toast position="bottom-left" key="bl"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-toast position="bottom-right" key="br"></p-toast>
<p-toast styleClass="custom-toast" key="custom"></p-toast>

<div>
  <router-outlet></router-outlet>
</div>

<div class="clear-toasts-button-container">
  <!--  todo: добавить удаление кнопки когда все сообщения пропадают -->
  <button *ngIf="messages.length !== 0"
          pButton
          pRipple
          class="p-button-secondary rounded-3 mx-3 margined"
          icon="pi pi-delete-left"
          pTooltip="Удалить все всплывашки"
          (click)="clearMessages()"
  ></button>
</div>
