<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="top-right" key="tr"></p-toast>
<p-toast position="bottom-left" key="bl"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-toast position="bottom-right" key="br"></p-toast>
<p-toast styleClass="custom-toast" key="custom"></p-toast>

<app-loader></app-loader>

<div>
  <app-general-toolbar pStyleClass="w-full"></app-general-toolbar>
  <router-outlet></router-outlet>
</div>

<div class="clear-toasts-button-container">
  <button *ngIf="messages.length !== 0"
          pButton
          pRipple
          class="p-button-secondary rounded-3"
          icon="pi pi-delete-left"
          appLongClick
          (click)="clearMessages()"
          (longClick)="messageService.showInfo('Убирает все уведомления с экрана разом')"
  ></button>
</div>

<!-- custom confirmation content -->
<p-confirmDialog acceptButtonStyleClass="p-2 p-button-secondary"
                 rejectButtonStyleClass="p-2 p-button-secondary p-button-outlined"
                 acceptLabel="Да"
                 rejectLabel="Нет"
                 [style]="{ width: '80vw' }"
                 [closable]="false"
>
  <ng-template pTemplate="header">
    <div class="flex flex-column align-items-center w-full gap-3">
      <div class="flex flex-row flex-wrap gap-3 text-xl">
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-spin pi-exclamation-circle text-2xl"></i>
        </div>
        <div class="flex align-items-center justify-content-center">
          <b>
            Подтверждение
          </b>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="icon"></ng-template>
  <ng-template pTemplate="message" let-message>
    <div class="flex flex-column align-items-center w-full gap-3">
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>
