<p-dataView emptyMessage="Контакты еще не добавлены"
            [value]="contacts"
            [rows]="contacts?.length ?? 0"
>
  <ng-template pTemplate="header">
    <div class="flex justify-content-between flex-wrap">
      <div class="flex align-items-center justify-content-center">
        <!-- left content -->
      </div>
      <div class="flex align-items-center justify-content-center">
        <p-button styleClass="text-center text-sm p-2 m-1"
                  icon="pi pi-plus"
                  severity="secondary"
                  appLongClick
                  (click)="onContactProcessing(null)"
                  (longClick)="messageService.showInfo('Открывает диалог для добавления нового контакта')"
        ></p-button>
        <p-button styleClass="text-center text-sm p-2 m-1"
                  icon="pi pi-refresh"
                  severity="secondary"
                  appLongClick
                  (click)="reload()"
                  (longClick)="messageService.showInfo('Обновляет список текущих контактов')"
        ></p-button>
      </div>
      <div class="flex align-items-center justify-content-center gap-1">
        <!-- right content -->
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="list" let-contacts>
    <div class="grid">
      <div *ngFor="let contact of contacts" class="col-12 p-1">
        <p-inputGroup>
          <p-inputGroupAddon styleClass="w-8rem text-sm">
            {{ getContactTypeLocalized(contact.type) }}
          </p-inputGroupAddon>
          <p-inputGroupAddon styleClass="w-14rem text-sm"
                             (click)="clipboardService.extCopy(contact.value, 'Контакт скопирован')"
          >
            {{ contact.value.length < 16 ? contact.value : contact.value.substring(0, 13) + '...' }}
          </p-inputGroupAddon>
          <p-inputGroupAddon styleClass="w-2rem">
            <i class="pi pi-wrench p-1 text-sm" (click)="onContactProcessing(contact)"></i>
          </p-inputGroupAddon>
          <p-inputGroupAddon styleClass="w-2rem">
            <i class="pi pi-trash p-1 text-sm" (click)="onContactDeleting(contact)"></i>
          </p-inputGroupAddon>
        </p-inputGroup>
      </div>
    </div>
  </ng-template>
</p-dataView>
