<div>
  <div class="grid">
    <div class="col-12 p-1">
      <div *ngIf="files.length > 0">
        <div *ngFor="let file of files">
          <div class="border-1 border-round-2xl border-200">
            <div class="m-2 grid grid-nogutter">
              <div class="col-5" (click)="clipboardService.extCopy(file.name, 'Название скопировано!')">
                <div class="flex justify-content-center flex-wrap">
                  <div class="flex align-items-center justify-content-center">
                    {{ file.name.length > 14 ? file.name.substring(0, 11) + '...' : file.name }}
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="flex justify-content-center flex-wrap">
                  <div class="flex align-items-center justify-content-center">
                    {{ getFileTypeTitle(file.type) }}
                  </div>
                </div>
              </div>
              <div class="col-3">
                <div class="flex justify-content-center flex-wrap">
                  <div class="flex align-items-center justify-content-center">
                    {{ getFormatedSize(file.size) }}
                  </div>
                </div>
              </div>
              <div class="col-2">
                <div class="flex justify-content-center flex-wrap">
                  <div class="flex align-items-center justify-content-center">
                    <p-button styleClass="p-1 text-sm border-round-2xl"
                              severity="secondary"
                              icon="pi pi-times"
                              (click)="removeFile(file)"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 p-1">
      <div class="flex justify-content-center flex-wrap">
        <div class="flex align-items-center justify-content-center gap-1">
          <input #htmlFileInput
                 type="file"
                 multiple
                 accept="image/*,video/*"
                 [style.display]="'none'"
                 (change)="onChoose($event)"
          />
          <p-button styleClass="p-1"
                    severity="secondary"
                    label="Выбрать"
                    icon="pi pi-upload"
                    (click)="htmlFileInput.click()"
          />
          <p-button styleClass="p-1"
                    severity="secondary"
                    [label]="'Сохранить (' + files.length + ')'"
                    icon="pi pi-save"
                    (click)="onSave()"
          />
          <p-button styleClass="p-1"
                    severity="secondary"
                    icon="pi pi-trash"
                    (click)="onClean()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
