<div>
  <div class="flex justify-content-center flex-wrap">
    <div class="grid">
      <div class="col-12 flex justify-content-center flex-wrap">
        <p-image imageClass="border-round-3xl"
                 src="../../../../assets/car_logo_mater.jpg"
                 alt="Logo"
                 width="250"
                 [preview]="false"
        >
          <ng-template pTemplate="indicator">
            <i class="pi pi-eye"></i>
          </ng-template>
        </p-image>
      </div>

      <div class="col-12">
        <p-accordion [activeIndex]="0">
          <p-accordionTab header="Что нового в этой версии?">
            <p>
              <b class="m-1 border-1 border-round-2xl border-200">1.</b>
              Добавлено поясняющее сообщение для каждой кнопки.
              Чтобы оно повявилось, необходимо зажать кнопку до его появления.
            </p>
            <p>
              <b class="m-1 border-1 border-round-2xl border-200">2.</b>
              Добавлены дополнительные параметры для описания машины.
              Чтобы добавить новые параметры старым машины (которые уже добавлены в список),
              нужно нажать кнопку ее редактирования и добавить там параметры.
            </p>
          </p-accordionTab>
          <p-accordionTab header="Зачем я нужен?">
            <p>
              Сейчас я умею помогать собирать основную информацию по машинам, которую мне предоставляют пользователи,
              умею хранить фото и видео этой машины.
            </p>
          </p-accordionTab>
          <p-accordionTab header="С чего начать?">
            <p>
              Слева сверху есть меню (три полоски), по которому ты можешь открыть любую из доступных страниц.
            </p>
            <p>
              В профиле твоя личная информация, которую ты можешь дополнить при желании, а в контактах - информация
              о том, как можно с тобой связаться (например, телеграмм или по номеру телефона).
            </p>
            <p>
              На странице "маркета" машин можно посмотреть выложенные машины, их характеристики и прочее.
            </p>
            <p>
              На странице "функции" скоро появятся разные полезные функции, которые будут помогать тебе в выборе машины.
              Например, полная расшифровка по стандартам ВИН-номера или проверка в реестре.
            </p>
            <p>
              На странице настроек ты можешь поменять и настроить под себя приложение из того,
              что на текущий момент доступно.
            </p>
          </p-accordionTab>
          <p-accordionTab header="Что дальше?">
            <p>
              Сейчас приложение находится в бета-версии. Вполне нормально, если что-то будет ломаться.
              Если есть какие-то пожелания или предложения (в том числе объективная критика),
              то всегда можно обратиться к главному разработчику
              <a href="https://t.me/+79170462034">по ссылке телеграмма</a> или
              <p-tag severity="secondary" value="сообщение обратной связи" (click)="onOpenFeedbackDialog()"/>
              В будущем будет добавлено еще много других полезных функций.
            </p>
          </p-accordionTab>
          <p-accordionTab *ngIf="isSupport" header="Модераторам!">
            <p>
              Информация для модераторов...
            </p>
          </p-accordionTab>
          <p-accordionTab *ngIf="isAdmin" header="Администраторам!">
            <p>
              Информация для администраторов...
            </p>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>

    <div class="col-12 flex justify-content-center flex-wrap">
      2024 (версия 0.0.1 на 07.09.2024)
    </div>
  </div>
</div>
