<div>
  <div class="grid m-2">
    <div class="col-12 p-1">
      <div *ngFor="let setting of settings.settings">
        <p-inputGroup>
          <p-inputGroupAddon styleClass="w-9rem text-sm">
            {{ setting.title }}
          </p-inputGroupAddon>
          <p-inputGroupAddon styleClass="w-13rem text-sm">
            <p-dropdown styleClass="w-full"
                        optionLabel="title"
                        optionValue="value"
                        placeholder="Выбери опцию"
                        [checkmark]="true"
                        [options]="setting.options"
                        [ngModel]="setting.selectedOption.value"
                        (onChange)="onSettingChange(setting, $event)"
            ></p-dropdown>
          </p-inputGroupAddon>
          <p-inputGroupAddon>
            <i class="pi pi-question-circle text-lg w-1rem"
               (click)="messageService.showInfo(setting.description)"
            ></i>
          </p-inputGroupAddon>
        </p-inputGroup>
      </div>
    </div>
  </div>
</div>
