<div>
  <div class="flex justify-content-center flex-wrap">
    <div class="grid">
      <div class="col-12 flex justify-content-center flex-wrap">
        <img class="flex align-items-center justify-content-center blurred-border"
             ngSrc="assets/car_logo_mater.jpg"
             alt="Bot Logo"
             width="250"
             style="object-fit: cover;"
             height="250"
        />
      </div>

      <div class="col-12">
        <p-accordion>
          <p-accordionTab header="Зачем я нужен?">
            <p>
              Ради кайфа, братья!
            </p>
          </p-accordionTab>
          <p-accordionTab header="С чего начать?">
            <p>
              Ниже есть три кнопки
            </p>
          </p-accordionTab>
          <p-accordionTab [header]="thirdTabHeader" [disabled]="!selectedRole">
            <p>
              Круто! Расскажу, что будет дальше...
            </p>
          </p-accordionTab>
        </p-accordion>
      </div>

      <div class="col-12">
        <div class="flex justify-content-center flex-wrap">

          <div class="grid">
            <div class="col-6 flex align-items-center justify-content-center">
              <button pButton
                      [style]="{'width': '175px'}"
                      [label]="'Я ' + RoleEnum.USER.toString().toLowerCase()"
                      (click)="setUserRole(RoleEnum.USER)"
              ></button>
            </div>

            <div class="col-6 flex align-items-center justify-content-center">
              <button pButton
                      [style]="{'width': '175px'}"
                      [label]="'Я ' + RoleEnum.SELLER.toString().toLowerCase()"
                      (click)="setUserRole(RoleEnum.SELLER)"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
