<div class="w-full">

  <div class="grid">
    <div class="col-12 pl-3 pr-3">
      <div class="m-1 border-1 border-round-xl border-200">
        <div class="flex justify-content-between flex-wrap">
          <div class="flex align-items-center justify-content-center">
            <div class="p-2">
              {{ car.brand + ' ' + car.model + ' (' + car.productionYear + ')' }}
            </div>
          </div>
          <div class="flex align-items-center justify-content-center">
            <!--          center content-->
          </div>
          <div class="flex align-items-center justify-content-center gap-1">
            <div class="p-2">
              <p-button styleClass="text-center text-sm p-2 w-12"
                        icon="pi pi-replay"
                        severity="secondary"
                        appLongClick
                        [outlined]="true"
                        (click)="onPreviousPage()"
                        (longClick)="messageService.showInfo('Возвращает на предыдущую страницу приложения')"
              ></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 p-1">
      <p-carousel #imagesCarousel
                  styleClass="w-full"
                  contentClass="w-full"
                  [value]="images"
                  [numVisible]="1"
                  [numScroll]="1"
                  [showIndicators]="true"
                  [autoplayInterval]="globalConfig.settings.autoPlayImages ? 5e3 : 1e9"
                  [circular]="true"
      >
        <ng-template pTemplate="item" let-image>
          <div class="flex align-content-center flex-wrap">
            <div class="flex align-items-center justify-content-center">
              <div class="relative mx-auto w-full h-full">
                <p-image styleClass="w-full"
                         imageClass="border-round-2xl w-full h-full"
                         alt="Car Photo"
                         [src]="image.url"
                ></p-image>
                <p-tag class="absolute"
                       styleClass="border-round-3xl"
                       severity="secondary"
                       [value]="(imagesCarousel._page + 1).toString() + '/' + images.length"
                       [ngStyle]="{ 'left.px': 5, 'top.px': 5 }"
                />
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>
